<div class="w-full h-full backdrop-blur-lg p-10">
  <div class="rounded-lg">
    <div>
      <div class="mx-auto pt-16 sm:pt-24">
        <div class="lg:space-y-0 lg:grid lg:grid-cols-12 lg:gap-2">
          <div
            class="px-2 sm:text-center md:mx-auto md:max-w-2xl lg:col-span-6 lg:flex lg:items-center lg:text-left"
          >
            <div class="">
              <div class="space-y-4">
                <div class="space-y-2">
                  <h1
                    class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl"
                  >
                    <span class="sm:text-6xl"> </span> Debt management made
                    easy!
                    <span class="font-extrabold text-yellow-300">moMula </span>
                    <br />
                    take back control
                  </h1>
                </div>
                <p
                  class="text-base text-gray-200 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
                >
                  We are committed to helping individuals and families manage
                  their debt effectively, guiding them toward financial freedom
                  using our SnowBall Method
                </p>
              </div>
              <br />
              <div class="border-t border-gray-700"></div>
            </div>
          </div>
          <div class="flex items-center col-span-6">
            <div class="px-6 lg:h-100% col-span-6 flex items-center mx-auto">
              <div style="width: 100%; height: 100%">
                <div style="width: 100%; height: 100%">
                  <youtube-player
                    class="rounded-start d-flex"
                    videoId="_e_M0hfAX3o"
                    suggestedQuality="default"
                    [width]=""
                    loadApi="true"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="w-full sm:py-16 lg:py-24">
      <div class="px-4 sm:px-6 lg:px-8">
        <div
          class="grid items-center grid-cols-1 gap-y-2 lg:grid-cols-5 sm:mt-20 gap-x-4"
        >
          <div class="lg:pr-16 xl:pr-24 lg:col-span-2">
            <div class="flex items-start">
              <svg
                class="flex-shrink-0 text-green-500 w-9 h-9"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
                />
              </svg>
              <div class="ml-5">
                <h2 class="sub-heading">Our Mission</h2>
                <p class="text">
                  To provide personalized debt management solutions.
                </p>
              </div>
            </div>

            <div class="flex items-start">
              <svg
                class="flex-shrink-0 text-blue-600 w-9 h-9"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                />
              </svg>
              <div class="ml-5">
                <h2 class="sub-heading">Our Vision</h2>
                <p class="text">
                  To help you regain financial control, peace of mind and create
                  a healthier relationship with money, one small win at a time.
                </p>
              </div>
            </div>

            <div class="flex items-start">
              <svg
                class="flex-shrink-0 text-red-500 w-9 h-9"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                />
              </svg>
              <div class="ml-5">
                <h2 class="sub-heading">Our Values</h2>
                <p class="text">
                  Utlising effective debt management stategies to create a
                  sustainable view of money whilst not sacrificng your mental
                  health
                </p>
              </div>
            </div>
          </div>

          <div>
            <img
              src="/assets/images/Flat-design-money-saving-concept-on-transparent-background-PNG.png"
        
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <div>
    <div class="text-center"></div>
    <section class="overflow-hidden py-8 sm:py-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <img src="/assets/images/librascale.png"  />
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class="sub-heading">Debt To Income Explained</h2>
              <p class="text">
                Research shows that anywhere between 28-35% of your income
                allocated to debt <span class="text-yellow-400 font-bold">(Including Mortage and all priority bills)</span> is a healthy level, we have chosen to allocate
                30% of your income for this stategy as a relatively aggressive
                strategy without having to miss out on the things you love.
              </p>
              <dl
                class="mt-2 max-w-xl space-y-2 text-base leading-7 text-white lg:max-w-none"
              >
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-yellow-400">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="absolute left-1 top-1 h-5 w-5 text-indigo-600"
                    >
                      <path
                        d="M3.196 12.87l-.825.483a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.758 0l7.25-4.25a.75.75 0 000-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 01-2.276 0L3.196 12.87z"
                      ></path>
                      <path
                        d="M3.196 8.87l-.825.483a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.758 0l7.25-4.25a.75.75 0 000-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 01-2.276 0L3.196 8.87z"
                      ></path>
                      <path
                        d="M10.38 1.103a.75.75 0 00-.76 0l-7.25 4.25a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.76 0l7.25-4.25a.75.75 0 000-1.294l-7.25-4.25z"
                      ></path></svg
                    >Person-centered
                  </dt>
                  <dd class="inline">
                    The amount available that you can use to manage your debt is
                    tailored specifically from your income
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-yellow-400">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="absolute left-1 top-1 h-5 w-5 text-indigo-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    Room to live
                  </dt>
                  <dd class="inline">
                    This stategy lives room for you to also enjoy the one thing
                    we cant get back, time with loved ones
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-yellow-400">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      class="absolute left-1 top-1 h-5 w-5 text-indigo-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M14.5 10a4.5 4.5 0 004.284-5.882c-.105-.324-.51-.391-.752-.15L15.34 6.66a.454.454 0 01-.493.11 3.01 3.01 0 01-1.618-1.616.455.455 0 01.11-.494l2.694-2.692c.24-.241.174-.647-.15-.752a4.5 4.5 0 00-5.873 4.575c.055.873-.128 1.808-.8 2.368l-7.23 6.024a2.724 2.724 0 103.837 3.837l6.024-7.23c.56-.672 1.495-.855 2.368-.8.096.007.193.01.291.01zM5 16a1 1 0 11-2 0 1 1 0 012 0z"
                        clip-rule="evenodd"
                      ></path>
                      <path
                        d="M14.5 11.5c.173 0 .345-.007.514-.022l3.754 3.754a2.5 2.5 0 01-3.536 3.536l-4.41-4.41 2.172-2.607c.052-.063.147-.138.342-.196.202-.06.469-.087.777-.067.128.008.257.012.387.012zM6 4.586l2.33 2.33a.452.452 0 01-.08.09L6.8 8.214 4.586 6H3.309a.5.5 0 01-.447-.276l-1.7-3.402a.5.5 0 01.093-.577l.49-.49a.5.5 0 01.577-.094l3.402 1.7A.5.5 0 016 3.31v1.277z"
                      ></path></svg
                    >Simplicity
                  </dt>
                  <dd class="inline">
                    An easy to follow strategy made even easier using data
                    visualization.
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="overflow-hidden py-8 sm:py-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class="sub-heading mt-10">SnowBall Method Explained</h2>
              <p class="text">
                Using our dashboard, we will proritise the account with the
                lowest balance. Continuing to make the minimum payments on the
                other accounts whilst attacking the lowest account.</p>
                <p class="text mt-4"> When that
                one is paid off, delete it and move onto the next lowest card,
                moving what would have went to that card and putting it into
                the next one. The more accounts that are paid off, the more you
                can afford to pay off the next time.
              </p>
            </div>
          </div>
          <img src="/assets/images/snowball.jpeg" class=" rounded-3xl" />
        </div>
      </div>
    </section>
  </div>
</div>
