<div class="w-full backdrop-blur-lg">
  <app-hero></app-hero>
  <div class="flex">
    <div class="flex flex-row items-center">
      <img src="/assets/images/Group 15graph.png" class="scale-100" />
      <h1 class="text-white text-2xl">
        Set goals and watch your
        <span class="span-text"> Progress</span>
      </h1>
    </div>
  </div>
  <div class="w-full flex justify-center items-center">
    <div class="flex flex-row items-center rounded-lg">
      <div class="text-white mr-4 pl-10">
        <h1 class="font-semibold text-xl mb-4">
          <span class="span-text">Track</span> all your debt in
          one place
        </h1>
        <p class="text-2xl">
          Change the view to suit your preference, take a look at all of your
          cards or deep dive into a specific card.
        </p>
      </div>
      <div>
        <img src="/assets/images/phone.png" class="scale-100" />
      </div>
    </div>
  </div>
</div>
