<div>
  <div>
    <div class="relative isolate px-2 pt-2 lg:px-8">
      <div class="w-full flex">
        <div class="mx-auto py-32 sm:py-48 lg:py-56">
          <div class="text-center justify-center flex-auto">
            <h1 class="tracking-tight text-white sm:text-6xl font-inter">
              Start
              <span class="span-text">Today</span>
              and Master Your Money with
              <span class="span-text shadow-2xl"
                >MoMula</span
              >
            </h1>
            <p class="mt-6 text-2xl leading-8 text-white">
              We believe effective debt management is crucial for maintainig
              financial health and achieving long-term stability and improved
              mental health
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                class="rounded-full bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-600"
                routerLink="/register"
                >Sign up now</a
              >
              <a
                mat-stroked-button
                routerLink="/about-us"
                class="text-sm font-semibold leading-6 text-yellow-400"
                >Learn more <span aria-hidden="true">→</span></a
              >
            </div>
            <div>
              <div class="flex flex-wrap font-semibold">
                <div class="breakdown-div">
                  <div>
                    <fa-icon
                      [icon]="faPlus"
                      class="hero-icon fa-2x"
                    ></fa-icon>
                    <h2 class="hero-heading">Add</h2>
                    <p class="flex-grow">
                      Add all of your accounts so that you can view them all in
                      one place
                    </p>
                  </div>
                </div>
                <div class="breakdown-div">
                  <div>
                    <fa-icon
                      [icon]="faWallet"
                      class="hero-icon fa-2x"
                    ></fa-icon>
                    <h2 class="hero-heading">Budget</h2>
                    <p class="flex-grow">
                      After answering a few basic questions, based on your
                      income, we can calculate your weekly and monthly budget
                    </p>
                  </div>
                </div>

                <div class="breakdown-div">
                  <div>
                    <fa-icon
                      [icon]="faCalender"
                      class="hero-icon fa-2x"
                    ></fa-icon>
                    <h2 class="hero-heading">Track</h2>
                    <p>
                      Tracking made easier with visual aids that will help you
                      to stay on track
                    </p>
                  </div>
                </div>
                <div class="breakdown-div">
                  <div>
                    <fa-icon
                      [icon]="faMoney"
                      class="hero-icon fa-2x"
                    ></fa-icon>
                    <h2 class="hero-heading">Save</h2>
                    <p>
                      Financial health is not only about taking care of debt, it
                      is also about learning to save in the right way
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-10">
          <div class="flex-auto">
            <img
              src="./assets/images/realistic-credit-card-design.png"
              class="-rotate-45 -top-10 -left-10 z-10"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
